  
p img:not(#c) {
    box-shadow: 0 0 10px #333743f0;
    /* p标签img居中 */
    display: block;
    margin: 0 auto;
}

.md-header {
    background-image: linear-gradient(to right, #0250c5 0%, #d43f8d 100%);
    opacity: 0.9;
}